# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.HomeworkPatterns.iml
# Datasource local storage ignored files
/../../../../../../:\c# projects\HomeworkPatterns\.idea\.idea.HomeworkPatterns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
